.Block{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  max-height: 60vh;
}
#Resizable{
  border-top: 1px solid black; 
  height: 40vh;
  min-height: 10vh;
  width: 75vw;
}
#Draggable{
  background-color: red;
  cursor: n-resize;
  height: 5px;
  width: 75vw;
}