@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: 100; }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.progress {
  --size: 10vw;
  --fg: blue;
  --bg: #1e1f20;
  --pgPercentage: 100;
  animation: growProgressBar 4s 1 forwards;
  margin-left: -35vw;
  width: var(--size);
  height: var(--size);
  position: absolute;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, #1e1f20 98%, transparent 0 99.9%, #1e1f20 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

.progress::before {
  counter-reset: percentage 100;
}
