.cancle-req-layer,
.cancle-req-container {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  content: " ";
}

.cancle-req-layer {
  position: absolute;
  background-color: gray;
  opacity: 0.3;
}

.cancle-req-container button {
  background-color: rgb(201, 49, 49);
  color: #ffffff;
  border: none;
  width: 15%;
  font-size: 1.3vw;
  height: 7vh;
  border-radius: 0.5vw;
  cursor: pointer;
  z-index: 5;
}