.options:hover{
  background-color: black;
}

.Block{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  max-height: 60vh;
}
#Draggable{
  border-top: 3px solid rgb(66, 66, 66);
  /* background-color: rgb(141, 141, 141); */
  cursor: ns-resize;
  height: 10px;
  width: 75vw;
}

#Draggable:hover{
  border-color: rgb(47, 102, 214);
} 
#Draggable:active{
  border-color: rgb(47, 102, 214);
} 