#sidebar-container {
  background-color: #282a30;
}

/* width */
#sidebar-scenarios-cards-container::-webkit-scrollbar {
  width: 0.6vw;
}

/* Track */
#sidebar-scenarios-cards-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#sidebar-scenarios-cards-container::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 10px;
}

/* Handle on hover */
#sidebar-scenarios-cards-container::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112);
}

#search-files-input {
  background-color: rgb(62, 62, 62);
  color: #ffffff;
}

#search-files-input:active {}

#search-files-input::placeholder {
  color: rgb(171, 171, 171);
}

.card-hover:hover {
  background-color: #363636;
}