#menu-container {
  height: 5vh;
  background-color: #424242;
  display: flex;
  align-items: center;
  padding: 0px 1.5vw;
}

#menu-options {
  display: flex;
  flex-grow: 1;
}

#new-btn-container {
  margin-right: 35px;
  height: 3.4vh;
  width: 5.6vh;
  display: flex;
  align-items: center;
}

#add-btn {
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  padding: 0px;
  background-color: #3859cc;
  cursor: pointer;
  border: none;
  justify-content: center;
  height: 100%;
  display: flex;
  flex: 1;
  color: #ffffff;
  font-size: 1vw;
  line-height: 30px;
  align-items: center;
  padding-right: 5px;
}

#plus-icon{
  background-color: #ffffff;
  width: 30%;
  color: #3859cc;
  margin: 0px 5px;
  align-self: center;
  height: 70%;
  line-height: 23px;
  border-radius: 3px;
  font-size: 1.4vw;
  font-weight: 600;
}

.down-arrow{
  color: #424242;
  cursor: pointer;
  border: none;
  height: 100%;
  font-size: 15px;
  font-weight: 900;
  word-spacing: 0px;
  border-radius: 0px 3px 3px 0px;
}

.bg-lightblue{
  background-color: #bfd8ff;
}


#import-btn{
  background-color: #5e5e5e;
  border: none;
  padding: 0px 15px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  margin: 0px 8px;
  font-size: 1.1vw;
}

#project-select{
  background-color: transparent;
  margin: 0px 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  font-size: 1.1vw;
}

select option{
  background-color: rgb(68, 68, 68);
}